<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor type="Sc.Commons.SitePlaceholders.Pipelines.ResolveSiteSpecificPlaceholderKey, Sc.Commons.SitePlaceholders" patch:before="processor[1]" />
      </getPlaceholderRenderings>
    </pipelines>
  </sitecore>
</configuration>